@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 1024px) {
  .nav-bar {
    width: calc(100% - 340px) !important;
    transform: translateX(340px) !important;
  }
}

.menu-item:hover {
  box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.4),
    inset 0px 1px 1px rgba(255, 255, 255, 0.11) !important;
} 

.menu-item {
  @apply cursor-pointer flex space-x-3 items-center p-3 hover:bg-gunmetal rounded-xl hover:shadow-sm transition-all duration-100;
}

.profile-menu-item {
    @apply hover:text-white transition-all duration-75
}

body {
  background-color: #111315;
}

body::-webkit-scrollbar {
  width: 14px;
}
 
body::-webkit-scrollbar-track {
  background-color: #111315;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #272B30;
}