@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 1024px) {
  .nav-bar {
    width: calc(100% - 280px) !important;
    transform: translateX(280px) !important;
  }
}

.menu-item:hover,
.menu-item-active {
  box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.4),
    inset 0px 1px 1px rgba(255, 255, 255, 0.11) !important;
}

.menu-item-active {
  @apply cursor-pointer flex space-x-3 items-center p-3 bg-gunmetal rounded-xl transition-all duration-100;
}

.menu-item {
  @apply cursor-pointer flex space-x-3 items-center p-3 hover:bg-gunmetal rounded-xl transition-all duration-100;
}

.profile-menu-item {
  @apply hover:text-white transition-all duration-75;
}

.promotion-btn {
  @apply flex items-center justify-center md:justify-between py-2 px-6 md:px-3 lg:px-12 border-2 rounded-xl border-sonic-silver;
}

.promotion-btn-text {
  @apply hidden md:inline-block md:ml-2 md:font-semibold;
}

body {
  background-color: #111315;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background-color: #111315;
}

body::-webkit-scrollbar-thumb {
  background-color: #272b30;
}

.stats-value, .stats-bg {
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.04),
    inset 0px 1px 0px rgba(255, 255, 255, 0.05) !important;
}

.card-overflow {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

.card-overflow::-webkit-scrollbar {
  display: none;
}

.checkbox {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 24px;
  width: 24px;
  border: 2px solid rgba(111, 118, 126, 0.4);
  background-color: #1A1D1F;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox:checked {
  background: #2A85FF;
}

.checkbox:checked::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='9'%3E%3Cpath fill='none' stroke='%23FFF' stroke-width='2' d='M1 4.304L3.696 7l6-6'/%3E%3C/svg%3E");
  color: #fff;
  margin-bottom: 2px;
}

.product-item:hover > input {
  border: 2px solid rgba(111, 118, 126, 0.4);
  background-color: #1A1D1F;
}

#upload-file {
  display: none;
}