@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 1024px) {
  .nav-bar {
    width: calc(100% - 280px) !important;
    transform: translateX(280px) !important;
  }
}

.menu-item:hover {
  box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.4),
    inset 0px 1px 1px rgba(255, 255, 255, 0.11) !important;
}

.menu-item {
  @apply cursor-pointer flex space-x-3 items-center p-3 hover:bg-gunmetal rounded-xl hover:shadow-sm transition-all duration-100;
}

.profile-menu-item {
  @apply hover:text-white transition-all duration-75;
}

.promotion-btn {
  @apply flex items-center justify-center md:justify-between py-2 px-6 md:px-3 lg:px-12 border-2 rounded-xl border-sonic-silver;
}

.promotion-btn-text {
  @apply hidden md:inline-block md:ml-2 md:font-semibold;
}

body {
  background-color: #111315;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background-color: #111315;
}

body::-webkit-scrollbar-thumb {
  background-color: #272b30;
}

.stats-value, .stats-bg {
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.04),
    inset 0px 1px 0px rgba(255, 255, 255, 0.05) !important;
}


